# Global config
# Logging template
(log) {
  log {
    output file /logs/public/access.log
    format json
   }
}

# TLS Config Porkbun
(tls_porkbun) {
  tls {
    dns porkbun {
      api_key {$PORKBUN_API_KEY}
      api_secret_key {$PORKBUN_API_SECRET_KEY}
    }
  }
}

# TLS Inernal
(tls_internal) {
  tls internal
}

# TLS Config
(tls) {
  tls {
    protocols tls1.2 tls1.3
    ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
  }
}

# Common headers
(headers) {
  header {
    -Server
    Strict-Transport-Security "max-age=63072000"
    X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
  }
}

# Common encoding
(encoding) {
  encode zstd gzip
}

# Forward real IP headers
(real_ip_headers) {
  header_up X-Real-IP {remote_host}
}

# 192.168.100.0/24 - LAN devices
# 10.224.174.0/24 - WireGuard VPN
# 127.0.0.1/32 - Localhost
# 172.21.0.0/16 - Docker proxy-net network

# Allowed IP's
(allowed_ip) {
  remote_ip 192.168.100.0/24 10.224.174.0/24 127.0.0.1/32 172.21.0.0/16
}

# Allowed IP's Local only
(allowed_ip_local_only) {
  remote_ip 192.168.100.0/24 10.224.174.0/24 127.0.0.1/32 172.21.0.0/16
}

# Authenticate with Аuthentik forward proxy auth
(authenticate) {
  reverse_proxy /outpost.goauthentik.io/* authentik-server:9000

  forward_auth authentik-server:9000 {
    uri /outpost.goauthentik.io/auth/caddy
    copy_headers X-Authentik-Username X-Authentik-Groups X-Authentik-Entitlements X-Authentik-Email X-Authentik-Name X-Authentik-Uid X-Authentik-Jwt X-Authentik-Meta-Jwks X-Authentik-Meta-Outpost X-Authentik-Meta-Provider X-Authentik-Meta-App X-Authentik-Meta-Version
    trusted_proxies private_ranges
  }
}

*.example.com {
  import tls_porkbun
  import headers
  import encoding
  import log

  @jellyfin {
    host jellyfin.example.com
    import allowed_ip
  }
  handle @jellyfin {
    reverse_proxy 192.168.100.3:8096 {
      import real_ip_headers
    }
  }

  @jellyseerr {
    host jellyseerr.example.com
    import allowed_ip
  }
  handle @jellyseerr {
    reverse_proxy seerr:5055 {
      import real_ip_headers
    }
  }

  @audiobookshelf {
    host abs.example.com
    import allowed_ip
  }
  handle @audiobookshelf {
    reverse_proxy audiobookshelf:80 {
      import real_ip_headers
    }
  }

  @authentik {
    host auth.example.com
    import allowed_ip
  }
  handle @authentik {
    reverse_proxy authentik-server:9000 {
      import real_ip_headers
    }
  }

  @vaultwarden {
    host vaultwarden.example.com
    import allowed_ip_local_only
  }
  handle @vaultwarden {
    reverse_proxy vaultwarden:80 {
      import real_ip_headers
    }
  }

  @beszel {
    host beszel.example.com
    import allowed_ip_local_only
  }
  handle @beszel {
    request_body {
      max_size 10MB
    }

    reverse_proxy beszel:8090 {
      transport http {
        read_timeout 360s
      }
    }
  }

  handle {
    respond "403 Forbidden" 403
  }
}

*.int.example.com {
  import tls_porkbun
  import headers
  import encoding

  @sonarr {
    host sonarr.int.example.com
    import allowed_ip_local_only
  }
  handle @sonarr {
    reverse_proxy 192.168.100.3:8989
  }

  @radarr {
    host radarr.int.example.com
    import allowed_ip_local_only
  }
  handle @radarr {
    reverse_proxy 192.168.100.3:7878
  }

  @prowlarr {
    host prowlarr.int.example.com
    import allowed_ip_local_only
  }
  handle @prowlarr {
    reverse_proxy 192.168.100.3:9696
  }

  @bazarr {
    host bazarr.int.example.com
    import allowed_ip_local_only
  }
  handle @bazarr {
    reverse_proxy 192.168.100.3:6767
  }

  @notifiarr {
    host notifiarr.int.example.com
    import allowed_ip_local_only
  }
  handle @notifiarr {
    reverse_proxy notifiarr:5454
  }

  @autobrr {
    host autobrr.int.example.com
    import allowed_ip_local_only
  }
  handle @autobrr {
    reverse_proxy autobrr:7474
  }

  @qui {
    host qui.int.example.com
    import allowed_ip_local_only
  }
  handle @qui {
    reverse_proxy qui:7476
  }

  @transmission {
    host transmission.int.example.com
    import allowed_ip_local_only
  }
  handle @transmission {
    reverse_proxy 192.168.100.3:9092
  }

  @goaccess {
    host goaccess.int.example.com
    import allowed_ip_local_only
  }
  handle @goaccess {
    import authenticate

    reverse_proxy goaccess-public:7880
  }

  @homepage {
    host homepage.int.example.com
    import allowed_ip_local_only
  }
  handle @homepage {
    reverse_proxy homepage:3000
  }

  @pihole {
    host pihole.int.example.com
    import allowed_ip_local_only
  }
  handle @pihole {
    reverse_proxy 192.168.100.13:8080
  }

  @cross-seed {
    host cross-seed.int.example.com
    import allowed_ip_local_only
  }
  handle @cross-seed {
    reverse_proxy 192.168.100.3:2468
  }

  @dozzle {
    host dozzle.int.example.com
    import allowed_ip_local_only
  }
  handle @dozzle {
    import authenticate

    reverse_proxy dozzle:8080
  }

  @watch-your-lan {
    host watch-your-lan.int.example.com
    import allowed_ip_local_only
  }
  handle @watch-your-lan {
    import authenticate

    reverse_proxy 192.168.100.13:8840
  }

  @jotty {
    host jotty.int.example.com
    import allowed_ip_local_only
  }
  handle @jotty {
    reverse_proxy jotty:3000
  }

  @dockhand {
    host dockhand.int.example.com
    import allowed_ip_local_only
  }
  handle @dockhand {
    reverse_proxy dockhand:3000
  }

  @termix {
    host termix.int.example.com
    import allowed_ip_local_only
  }
  handle @termix {
    reverse_proxy termix:8080
  }

  @tracearr {
    host tracearr.int.example.com
    import allowed_ip_local_only
  }
  handle @tracearr {
    reverse_proxy tracearr:3000
  }

  @uptime-kuma {
    host uptime-kuma.int.example.com
    import allowed_ip_local_only
  }
  handle @uptime-kuma {
    reverse_proxy uptime-kuma:3001
  }

  @epg {
    host epg.int.example.com
    import allowed_ip_local_only
  }
  handle @epg {
    reverse_proxy epg:3000
  }

  @dispatcharr {
    host dispatcharr.int.example.com
    import allowed_ip_local_only
  }
  handle @dispatcharr {
    reverse_proxy 192.168.100.13:9191
  }

  @homepage-webhook {
    host homepage-webhook.int.example.com
    import allowed_ip_local_only
  }
  handle @homepage-webhook {
    reverse_proxy 192.168.100.13:3030
  }

  handle {
    respond "403 Forbidden" 403
  }
}