# Global logging
{
  log {
    output file /var/log/caddy/access.log
    format json
  }
}

# Logging template
(log) {
  log {
    output file /var/log/caddy/access.log
     format json
   }
}

# TLS Config Porkbun
(tls_porkbun) {
  tls {
    dns porkbun {
      api_key {$PORKBUN_API_KEY}
      api_secret_key {$PORKBUN_API_SECRET}
    }
  }
}

# TLS Inernal
(tls_internal) {
  tls internal
}

# TLS Config
(tls) {
  tls {
    protocols tls1.2 tls1.3
    ciphers TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
  }
}

# Common headers
(headers) {
  header {
    -Server
    Strict-Transport-Security "max-age=63072000"
    # Opt-out search engines
    X-Robots-Tag "noindex, nofollow, nosnippet, noarchive"
  }
}

# Common encoding
(encoding) {
    encode zstd gzip
}

# Allowed IP's
(allowed_ip) {
  @allowed remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8
  @blocked not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8

  respond @blocked "Access denied!" 403
}

# Allowed IP's Local only
(allowed_ip_local_only) {
  @allowed remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8
  @blocked not remote_ip 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8 127.0.0.1/8

  respond @blocked "Access denied!" 403
}

# Jellyfin subdomain config
jellyfin.jeliozver.com {
  import tls_porkbun
  import headers
  import encoding
  import log
  import allowed_ip

  reverse_proxy @allowed 192.168.100.X:8096
}

# Jellyseerr subdomain config
jellyseerr.jeliozver.com {
  import tls_porkbun
  import headers
  import encoding
  import log
  import allowed_ip

  reverse_proxy @allowed 192.168.100.X:5055
}

# Audiobookshelf config
abs.jeliozver.com {
  import tls_porkbun
  import headers
  import encoding
  import log
  import allowed_ip

  reverse_proxy @allowed 192.168.100.X:13378
}

# Authentic config
auth.jeliozver.com {
  import tls_porkbun
  import headers
  import encoding
  import log
  import allowed_ip

  reverse_proxy @allowed 192.168.100.X:9000
}