services:
  dockerproxy:
    container_name: dockerproxy
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "127.0.0.1:2375:2375"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - INFO=1        # Docker host info (OS, storage driver, limits)
      - EVENTS=1      # Docker events
      - VERSION=1     # Docker engine + API version
      - PING=1        # Health check endpoint

      - CONTAINERS=1  # List / inspect containers, logs, stats
      - ALLOW_START=0      # Containers stop
      - ALLOW_STOP=0       # Containers stop
      - ALLOW_RESTARTS=0   # Containers stop | restart | kill
      - IMAGES=1      # List / inspect images
      - NETWORKS=1    # List / inspect Docker networks
      - VOLUMES=1     # List / inspect volumes

      - SWARM=0       # Swarm control
      - NODES=0       # Swarm nodes
      - SERVICES=0    # Swarm services
      - TASKS=0       # Swarm task visibility

      - EXEC=0        # Execute commands
      - POST=0        # Authentik needs to automatically create and manage outposts
      - AUTH=0        # Authentication APIs
      - SECRETS=0     # Docker secrets access
    security_opt:
      - no-new-privileges:true
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:lts
    restart: unless-stopped
    depends_on:
      - dockerproxy
    networks:
      - proxy-net
    ports:
      - "9443:9443"
    volumes:
      - portainer_data:/data
    command: -H tcp://dockerproxy:2375
    security_opt:
      - no-new-privileges:true

networks:
  proxy-net:
    external: true

volumes:
  portainer_data:
