services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:latest
    restart: unless-stopped
    networks:
      - proxy-net
    volumes:
      - ./vw-data/:/data/
    environment:
      - DOMAIN=${VAULTWARDEN_DOMAN}
      - SIGNUPS_ALLOWED=false
      - INVITATIONS_ALLOWED=false
      - SSO_ENABLED=true
      - SSO_SIGNUPS_MATCH_EMAIL=true
      - SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
      - SSO_SCOPES=email profile offline_access
      - SSO_AUTHORITY=${SSO_AUTHORITY}
      - SSO_CLIENT_ID=${SSO_CLIENT_ID}
      - SSO_CLIENT_SECRET=${SSO_CLIENT_SECRET}
    user: "${PUID}:${PGID}"

networks:
  proxy-net:
    external: true
