# Docker compose config for homelab stack. Configured to support hardlinks for radarr, sonarr, cross-seed
services:
  # ------------------------
  # Torrents
  # ------------------------
  qbittorrent:
    container_name: qbittorrent
    image: lscr.io/linuxserver/qbittorrent:5.1.4
    restart: unless-stopped
    ports:
      - "5252:5252"
      - "45878:45878"
      - "45878:45878/udp"
    volumes:
      - ${APPS_BASE_PATH}/qbit/config:/config
      - ${DATA_BASE_PATH}:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=5252
      - TORRENTING_PORT=45878
  deluge:
    container_name: deluge
    image: lscr.io/linuxserver/deluge:2.2.0
    restart: unless-stopped
    ports:
      - "5353:8112" #web ui port
      - "45969:6881" #torrent port
      - "45969:6881/udp" #torrent port
      - "58846:58846" #Default deluged port for thin client connectivity
    volumes:
      - ${APPS_BASE_PATH}/deluge/config:/config
      - ${DATA_BASE_PATH}:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      #- DELUGE_LOGLEVEL=error #optional
  qui:
    container_name: qui
    image: ghcr.io/autobrr/qui:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "7476:7476"
    volumes:
      - ${APPS_BASE_PATH}/qui/config:/config
  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "7474:7474"
    volumes:
      - ${APPS_BASE_PATH}/autobrr/config:/config
    environment:
      - TZ=${TZ}
    user: "${PUID}:${PGID}"
  cross-seed:
    container_name: cross-seed
    image: ghcr.io/cross-seed/cross-seed:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "2468:2468"
    volumes:
      - ${APPS_BASE_PATH}/cross-seed/config:/config
      - ${DATA_BASE_PATH}:/data
    command: daemon
    user: "${PUID}:${PGID}"
  # ------------------------
  # *arr apps
  # ------------------------
  prowlarr:
    container_name: prowlarr
    image: lscr.io/linuxserver/prowlarr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "9696:9696"
    volumes:
      - ${APPS_BASE_PATH}/prowlarr/config:/config
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
  sonarr:
    container_name: sonarr
    image: lscr.io/linuxserver/sonarr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "8989:8989"
    volumes:
      - ${APPS_BASE_PATH}/sonarr/config:/config
      - ${DATA_BASE_PATH}:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
  radarr:
    container_name: radarr
    image: lscr.io/linuxserver/radarr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "7878:7878"
    volumes:
      - ${APPS_BASE_PATH}/radarr/config:/config
      - ${DATA_BASE_PATH}:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
  bazarr:
    container_name: bazarr
    image: lscr.io/linuxserver/bazarr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "6767:6767"
    volumes:
      - ${APPS_BASE_PATH}/bazarr/config:/config
      - ${DATA_BASE_PATH}:/data
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
  notifiarr:
    container_name: notifiarr
    image: golift/notifiarr
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "5454:5454"
    volumes:
      - ${APPS_BASE_PATH}/notifiarr/config:/config
      - /var/run/utmp:/var/run/utmp:ro
      - /etc/machine-id:/etc/machine-id
  # ------------------------
  # Media Server
  # ------------------------
  audiobookshelf:
    container_name: audiobookshelf
    image: ghcr.io/advplyr/audiobookshelf:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "13378:80"
    volumes:
      - ${APPS_BASE_PATH}/audiobookshelf/config:/config
      - ${APPS_BASE_PATH}/audiobookshelf/metadata:/metadata
      - ${DATA_BASE_PATH}/media/audiobooks:/audiobooks
      - ${DATA_BASE_PATH}/media/podcasts:/podcasts
    environment:
      - TZ=${TZ}
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: 'unless-stopped'
    networks:
      - proxy-net
    ports:
      - "8096:8096/tcp"
    volumes:
      - ${APPS_BASE_PATH}/jellyfin/config:/config
      - ${APPS_BASE_PATH}/jellyfin/cache:/cache
      - ${DATA_BASE_PATH}/media/movies:/movies
      - ${DATA_BASE_PATH}/media/tvseries:/series
      - ${DATA_BASE_PATH}/media/anime:/anime
    user: "${PUID}:${PGID}"
    extra_hosts:
      - 'host.docker.internal:host-gateway'
  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/fallenbagel/jellyseerr:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "5055:5055"
    volumes:
      - ${APPS_BASE_PATH}/jellyseerr/config:/app/config
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
      - PORT=5055
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
  # ------------------------
  # Misc
  # ------------------------
  fail2ban:
    container_name: fail2ban
    image: crazymax/fail2ban:1.1.0
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ${APPS_BASE_PATH}/fail2ban:/data
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/caddy/public:/var/log/caddy/public:ro
    env_file:
      - ./fail2ban.env
  goaccess-public:
    container_name: goaccess-public
    image: xavierh/goaccess-for-nginxproxymanager:latest
    restart: unless-stopped
    networks:
      - proxy-net
    volumes:
      - /var/log/caddy/public:/opt/log:ro
    environment:
      - TZ=${TZ}
      - SKIP_ARCHIVED_LOGS=False
      - DEBUG=False
      - LOG_TYPE=CADDY_V1
      - HTML_REFRESH=5
      - KEEP_LAST=30
      - PROCESSING_THREADS=1
  goaccess-internal:
    container_name: goaccess-internal
    image: xavierh/goaccess-for-nginxproxymanager:latest
    restart: unless-stopped
    networks:
      - proxy-net
    volumes:
      - /var/log/caddy/internal:/opt/log:ro
    environment:
      - TZ=${TZ}
      - SKIP_ARCHIVED_LOGS=False
      - DEBUG=False
      - LOG_TYPE=CADDY_V1
      - HTML_REFRESH=5
      - KEEP_LAST=30
      - PROCESSING_THREADS=1
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "3000:3000"
    volumes:
      - ${APPS_BASE_PATH}/homepage:/app/config
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=192.168.100.13:3000,homepage.home.arpa
      - PUID=${PUID}
      - PGID=${PGID}
    env_file:
      - .env
  beszel:
    container_name: beszel
    image: henrygd/beszel:latest
    restart: unless-stopped
    networks:
      - proxy-net
    ports:
      - "8090:8090"
    volumes:
      - ${APPS_BASE_PATH}/beszel_data:/beszel_data
      - ${APPS_BASE_PATH}/beszel_socket:/beszel_socket
    environment:
      - APP_URL=${HOMEPAGE_VAR_BESZEL_URL}

networks:
  proxy-net:
    external: true
