services:
  # ------------------------
  # Media Server
  # ------------------------
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    environment:
      - TZ=${TZ}
    volumes:
      - ${APPS_BASE_PATH}/audiobookshelf/config:/config
      - ${APPS_BASE_PATH}/audiobookshelf/metadata:/metadata
      - ${DATA_BASE_PATH}/media/audiobooks:/audiobooks
      - ${DATA_BASE_PATH}/media/podcasts:/podcasts
    ports:
      - "13378:80"
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
      - PORT=5055
    ports:
      - "5055:5055"
    volumes:
      - ${APPS_BASE_PATH}/jellyseerr/config:/app/config
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  # ------------------------
  # Misc
  # ------------------------
  qui:
    image: ghcr.io/autobrr/qui:latest
    container_name: qui
    ports:
      - "7476:7476"
    volumes:
      - ${APPS_BASE_PATH}/qui/config:/config
    restart: unless-stopped
  goaccess:
    image: "xavierh/goaccess-for-nginxproxymanager:latest"
    container_name: goaccess
    restart: unless-stopped
    ports:
      - "7880:7880"
    environment:
      - PUID=995
      - PGID=991
      - TZ=${TZ}
      - SKIP_ARCHIVED_LOGS=False
      - DEBUG=False
      - LOG_TYPE=CADDY_V1
      - HTML_REFRESH=5
      - KEEP_LAST=30
      - PROCESSING_THREADS=1
    volumes:
      - /var/log/caddy:/opt/log
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ${APPS_BASE_PATH}/homepage:/app/config
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=192.168.100.13:3000,192.168.100.12:3000,192.168.100.3:3000
      - PUID=${PUID}
      - PGID=${PGID}