services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    user: "${PUID}:${PGID}"
    restart: unless-stopped
    environment:
      - DOMAIN=${VAULTWARDEN_DOMAN}
      - SIGNUPS_ALLOWED=false
      - INVITATIONS_ALLOWED=false
      - SSO_ENABLED=true
      - SSO_SIGNUPS_MATCH_EMAIL=true
      - SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
      - SSO_SCOPES=email profile offline_access
      - SSO_AUTHORITY=${SSO_AUTHORITY}
      - SSO_CLIENT_ID=${SSO_CLIENT_ID}
      - SSO_CLIENT_SECRET=${SSO_CLIENT_SECRET}
    volumes:
      - ./vw-data/:/data/
    ports:
      - "127.0.0.1:${VAULTWARDEN_PORT}:80"